<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<!-- Barra de Navegación superior -->
<head th:replace="fragments/nav"></head>

<div class="container" id="main-container">
    <h2>Detalles del profesor</h2>
    <div class="card">
        <div class="card-header">Nombre</div>
        <div class="card-body">
            <p class="card-text" th:text="${professor.name}" >Sin nombre</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">Apellidos</div>
        <div class="card-body">
            <p class="card-text" th:text="${professor.surname}" >Sin Apellidos</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">DNI</div>
        <div class="card-body">
            <p class="card-text" th:text="${professor.dni}">Sin DNI</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">Categoría</div>
        <div class="card-body">
            <p class="card-text" th:text="${professor.categoria}">Sin categoria</p>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
