<div class="table-responsive" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<table class="table table-hover" th:fragment="tableMarks" id="tableMarks">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Descripción</th>
        <th scope="col">Puntuación</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mark : ${markList}">
        <td scope="row" th:text="${mark.id}"> 1</td>
        <td th:text="${mark.description}"> Ejercicio 1</td>
        <td th:text="${mark.score}">10</td>
        <td><a th:href="${'/mark/details/' + mark.id}">detalles</a></td>
        <td><a sec:authorize="hasRole('ROLE_PROFESSOR')" th:href="${'/mark/edit/' + mark.id}">modificar</a>
            <div sec:authorize="hasRole('ROLE_STUDENT')" >
                <div th:if="${mark.resend}">
                    <!-- <a th:href="${'/mark/' + mark.id + '/noresend'}">Reenviar</a> -->
                    <button type="button" th:id="${'resendButton' + mark.id}"
                            class="btn btn-success">Reenviar</button>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        $("#resendButton"+ "[[${mark.id}]]").click(function() {
                            $.get( "/mark/[[${mark.id}]]/noresend", function( data ) {
                                let numberPage = [[${param.page}]];
                                let urlUpdate = '/mark/list/update';
                                if ( numberPage != null ){
                                    urlUpdate += "?page="+numberPage[0];
                                }
                                $("#tableMarks").load(urlUpdate);
                            });
                        });
                        /*]]>*/
                    </script>
                </div>
                <div th:unless="${mark.resend}">
                    <!--<a th:href="${'/mark/' + mark.id + '/resend'}">No reenviar</a>-->
                    <button type="button" th:id="${'noresendButton' + mark.id}"
                            class="btn btn-info">No reenviar</button>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        $( "#noresendButton"+ "[[${mark.id}]]" ).click(function() {
                            $.get( "/mark/[[${mark.id}]]/resend", function( data ) {
                                var numberPage = [[${param.page}]];
                                var urlUpdate = '/mark/list/update';
                                if ( numberPage != null ){
                                    urlUpdate += "?page="+numberPage[0];
                                }
                                $("#tableMarks").load(urlUpdate);
                            });
                        });
                        /*]]>*/
                    </script>
                </div>
            </div>
        </td>
        <td><a sec:authorize="hasRole('PROFESSOR')" th:href="${'/mark/delete/' + mark.id}">eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</div>